@import "tailwindcss";

html,
body {
  background-color: #0e1113;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  background: #0e1113;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #0e1113;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff #0e1113;
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  width: none;
}
